<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon-png.png">

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
    
     {{>footer}}
</body>

</head>

</html>